body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.router_container{
    min-height: calc(100vh - 180px);
}
.navbar{
  position: sticky;
    top: 0px;
    z-index: 10;
}
.nav-link.active{
  color: red !important;
  text-decoration: underline;
}
.nav-link:hover{
  text-decoration: underline;
  text-decoration-color: red;
}